button.active {
  background-color: red;
}

.list-group-item.active {
  color: black;
  background-color: white;
  font-weight: bolder;
}

.wd-color-twitter-blue {
  color: #1d9bf0;
}

.wd-bg-twitter-blue {
  background-color: #1d9bf0;
}

.wd-bg-light-blue-gray {
  background-color: #f7f9f9;
}
